
[Unit]
Description=Start UBR-1 drivers
After=roscore.service
BindsTo=roscore.service

[Install]
WantedBy=roscore.service

[Service]
Environment="ROS_LOG_DIR=/var/log/ros"
ExecStart=/bin/bash -c ". {{ workspace_root}}/devel/setup.bash && roslaunch /etc/ros/{{rosdistro}}/robot.launch --wait"
StandardOutput=file:/var/log/ros/robot.log
StandardError=file:/var/log/ros/robot.log
User=ros
