<launch>

    <!-- These are calibration parameters. Do not change manually,
         use the robot_calibration tool-->
    <param name="calibration_date" value="uncalibrated" />
    <param name="/base_controller/track_width" value="0.33665" />
    <param name="/imu/gyro_scale" value="0.001221729" />
    <param name="/head_camera/driver/z_scaling" value="1.0" />
    <param name="/head_camera/driver/z_offset_mm" value="0" />
    <arg name="rgb_camera_info_url" default="" />
    <arg name="depth_camera_info_url" default="" />
    <param name="robot_description" command="cat $(find ubr1_description)/robots/ubr1_robot.urdf" />

    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

    <rosparam file="$(find ubr1_bringup)/config/default_controllers.yaml" command="load" />
    <node name="ubr_driver" pkg="ubr_drivers" type="ubr_driver" output="screen" launch-prefix="$(arg launch_prefix)" >
      <param name="use_default_gripper" value="true" />
      <param name="publish_debug" value="true" />
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <param name="publish_frequency" value="100.0" />
    </node>

    <include file="$(find ubr_teleop)/launch/ubr_teleop.launch.xml" />

    <include file="$(find ubr1_bringup)/launch/include/head_camera.launch.xml" >
      <arg name="rgb_camera_info_url" value="$(arg rgb_camera_info_url)" />
      <arg name="depth_camera_info_url" value="$(arg depth_camera_info_url)" />
    </include>

    <include file="$(find ubr1_bringup)/launch/include/base_laser.launch.xml" />

</launch>
