<?xml version="1.0"?>
<model>
  <name>ubr_cube</name>
  <version>0.1.0</version>
  <author>
   <name>Michael Ferguson</name>
   <email>fergs@unboundedrobotics.com</email>
  </author>
  <sdf>ubr_cube.sdf</sdf>
  <description>
    The ubiquitous Unbounded Robotics Standard Orange Grasping Cube.
  </description>
</model>
