<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ubr1">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ubr1 urdf file -->
    <xacro:include filename="$(find ubr1_description)/robots/ubr1_robot.urdf" />

    <!-- Import ros2_control -->
    <xacro:include filename="ubr1.ros2_control.xacro" />

    <xacro:ubr1_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
