<launch>

  <arg name="start_moveit" default="true" />  

  <node pkg="ubr1_grasping" name="basic_grasping_perception" type="basic_grasping_perception" output="screen" >
    <param name="use_debug" value="true" />
  </node>
  
  <include if="$(arg start_moveit)" file="$(find ubr1_moveit)/launch/move_group.launch">
    <arg name="info" value="true"/>
  </include>

</launch>

